
<div class="page">
    <div class ="form container">
      <div class="title">
        <h1> Colonist Sign Up </h1>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register($event)">
        <fieldset>
          <div class="name"><input type="text" placeholder="Enter your name" required formControlName="name"/></div>
          <div class="age"><input type="number" placeholder="Enter your age" required formControlName="age"/></div>
           <div class="job"><select required formControlName="job_id" style="margin: 1rem;">
            <option [value]="NO_JOB_SELECTED">Select an occupation</option>
            <option *ngFor="let job of jobs" [value]="job.id">{{ job.name }}</option>
          </select></div>
        </fieldset>
        <div class="button"><button type="submit" [disabled]="registerForm.invalid">Register</button></div>
      </form>
      </div>
  </div>
</div>






