<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="background container">
    <div class="text container">
      <div class="title"> <h1> MARS COLONY</h1></div>

     <div class="orbit">
        <ul class="wrapper">
       <div class="sun"> <a routerLink="/register">
            <div class="star"></div>
         </a> </div>
          <div class="mercury">
            <div class="planet">
              <div class="shadow"></div>
            </div>
          </div>
          <div class="venus">
            <div class="planet">
              <div class="shadow"></div>
            </div>
          </div>
          <div class="earth">
            <div class="planet"><div class="shadow"></div></div>
          </div>
          <div class="mars">
            <div class="planet"><div class="shadow"></div></div>
          </div>
          <div class="jupiter">
            <div class="planet"><div class="shadow"></div></div>
          </div>
        </ul>
        </div>
      <div class="enter"> <h1> Tap the Sun to Enter </h1></div>
     </div>
  </div>

</body>
</html>
